.env
.git/
.idea/
bootstrap/cache/*.php
database/*.sqlite
laradock/
node_modules/
storage/app/*
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*.php
storage/logs/*
vendor/
